<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.fuckapk.manager">

    <application
        android:name="app.fuckapk.manager.ManagerApplication"
        android:theme="@style/Theme.FuckApkManager">

        <activity
            android:name="app.fuckapk.manager.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="app.fuckapk.manager.FuckApkFcmService" />

        <service
            android:name="rikka.shizuku.ShizukuProvider" />

        <!-- other services and receivers from lines 191-199 -->
        
    </application>

</manifest>